<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{title}} - MTG</title>
    {% else %}
    <title>MTG</title>
    {% endif %}
    <meta name="Magic The Gathering" content="MTG Database">
    <meta name="Jason Reaves" content="IWS Software Engineer Intern Applicant">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block content %}{% endblock %}
</body>
</html>
