{% extends "base.html" %}
{%block content %}
<div>
    <b>Enter a MTG card name to search for(case insensitive):</b>
    <div class="input-stuff">
        <input type="text" id="search_card">
        <button type="button" id="SearchButton">Search</button>
    </div>
    <script src="{{url_for('static', filename='card.js')}}"></script>
    <script type="text/template" id="card-template">
        <img src=<%- url %> style="float:left"/>
        <h1><%- name %></h1><br>
        <%- type %><br>
        <p><%- sub_type %> <%- power %>/<%- toughness %>, <%- cost %></p><br><br>
        <ul id="abilities">
            <% _.each(abilities, function(name) {
                %> <li><%= name %></li> <%
            }); %>
        </ul><br>
        <%- flavor_text %><br><br>
        Illus. <%- illustrator %>
    </script>
    <div id="card">
    </div>
    <div id="notfoundmsg">
        <p>Card Not Found</p>
    </div>
</div> 
{% endblock %}
