{% extends "base.html" %}
{%block content %}
<div>
    <b>Enter a MTG card name to search for(case insensitive):</b>
    <script type=text/javascript>
    $(function() {
        $('#submit').on('click', function() {
            $.getJSON($SCRIPT_ROOT + "/_get_card", {
                cardname: $('input[name="cardname"]').val()
            }).done(function(data) {
                $("#card-data").remove();
                if(data.found) {
                    var card = '<div id="card-data">'+
                               '<p><img src='+data.image_url+' style="float:left"/></p>'+
                               '<p>'+
                                    '<h1>'+data.name+'</h1><br>'
                                    +data.type+'<br>';
                                    if(data.sub_types) {
                                       card+=data.sub_types+' ';
                                    }
                                    if(data.power) {
                                        card+=data.power+'/';
                                    }
                                    if(data.toughness) {
                                        card+=data.toughness+', ';
                                    }
                                    if(data.cost) {
                                        card+=data.cost;
                                    }
                                    card+='<br><br>';
                                    for(i in data.abilities)
                                    {
                                        card+=data.abilities[i]+'<br>';
                                    }
                                    card+=data.flavor_text+'<br><br>';
                                    card+='Illus. '+data.illustrator;
                                    card+='</p></div>';
                          } else {
                              var card = '<div id="card-data"><h1>Card not found!</h1></div>';
                          }
                $('body').append(card);
            });
        });
        return false;
    });
    </script>
    <p><input type=text name=cardname>
    <p><a href=# id=submit>Submit</a>
</div> 
{% endblock %}
